.container .jumbotron{
    text-align: center;
    margin-top: 150px;
    background: #011c14;
    color: #d3ebe4;
}
.btn-primary{
    background: #f58f2a;
    border-radius: 20px;
}

body img{
    height: 200px;
    width: 300px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
    border: 2px solid #011c14;
}
body{
    background: url(https://images.unsplash.com/photo-1528459584353-5297db1a9c01?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Sriracha', cursive;
}
table,tr,td,thead,th{
    border: solid 2px black;
    margin: auto;
    font-size: 16px;
}
th{
    font-weight: bold;
}
