<!DOCTYPE html>
{% load static %}
<html>
<head>

	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/demojobs.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
	<title>home page</title>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Welcome to AjayJobs Portal!</h1>
			<p>for the latest job updates...</p>
			<p><a class="btn btn-primary btn-lg" href="hydjobsinfo/" role="button">Hyderabad Jobs</a>&nbsp;&nbsp;&nbsp;
			<a class="btn btn-primary btn-lg" href="punejobsinfo/" role="button">Pune Jobs</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary btn-lg" href="blorjobsinfo/" role="button">Bengaluru Jobs</a>&nbsp;&nbsp;&nbsp;
			<a class="btn btn-primary btn-lg" href="chennaijobsinfo/" role="button">Chennai Jobs</a></p>
		</div>
	</div>

</body>
</html>